{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ title }} !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis arcu egestas, maximus purus quis,
    imperdiet sem. Nulla ipsum velit, posuere ac est eget, feugiat ultrices nisi. Nam rutrum sollicitudin mi et
    fermentum. In eu tincidunt diam, vitae laoreet nulla. Nam magna lacus, aliquam eget nisi a, lacinia tincidunt
    dui. Vestibulum elementum odio sed odio efficitur, vel malesuada orci fermentum. In hac habitasse platea
    dictumst. Mauris ultrices sapien iaculis arcu iaculis consectetur. Quisque mattis, magna nec gravida viverra,
    sapien justo placerat augue, in dictum neque urna vel tellus. Nam finibus efficitur tellus, quis faucibus
    turpis congue nec. Nunc eleifend nisl eget elit suscipit, id ornare nibh ornare. Nunc vel elementum velit.
    In ullamcorper enim orci, vel congue elit consequat eget. Nullam diam ligula, pulvinar sed faucibus vel,
    sollicitudin nec ipsum.

    Proin efficitur neque tortor, in mattis nulla venenatis a. Proin id auctor lorem. Etiam eu arcu ut era
    t dapibus euismod nec sed orci. Duis vestibulum, libero viverra dapibus egestas, augue purus dignissim
    velit, ut pellentesque nunc urna at lorem. Morbi ex elit, ornare sit amet diam eu, consectetur pellentesque
    tortor. Sed in mauris arcu. Etiam elementum fringilla convallis. Quisque maximus nulla leo, ac ultricies felis
    vehicula eu. Nulla sodales lorem sed feugiat tempor. Interdum et malesuada fames ac ante ipsum primi faucibus.</p>

{% endblock %}